.container{ 
}
.searchbar{
    border: 1px solid blue;
    border-radius:12px;
    padding: 5px;
}
.imgpic{
    margin-left:17%;
    max-width: 450px;
    max-height: 350px;
}
.edtknp{
    color:blue;
}
.angmkt{
    color:black;
    opacity: 0.4;
}
.dcptn{
    opacity: 0.8;
}
